@{

	var status = Context.Request.Query["status"];
	var dangcho = "";
	var xacnhan = "";
	var danggiao = "";
	var huydon = "";
	var hoanthanh = "";
	var all = "";

	switch(status){
		case "Đang chờ":
			dangcho = "active text-white bg-secondary";
			break;
		case "Xác nhận":
			xacnhan = "active text-white bg-secondary";
			break;
		case "Đang giao":
			danggiao = "active text-white bg-secondary";
			break;
		case "Hủy đơn":
			huydon = "active text-white bg-secondary";
			break;
		case "Hoàn thành":
			hoanthanh = "active text-white bg-secondary";
			break;
		default:
			all = "active text-white bg-secondary";
			break;
		}
}




<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3 d-flex justify-content-between">
		<div class="row">
				<h1 class="text-white">Danh sách đơn hàng</h1>
		</div>
		<ul class="list-group list-group-horizontal-sm pt-2">
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="Đang chờ">
				<li class="list-group-item @dangcho">Đang chờ</li>
			</a>
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="Xác nhận">
				<li class="list-group-item @xacnhan">Xác nhận</li>
			</a>
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="Đang giao">
			<li class="list-group-item @danggiao">Đang giao</li>
			</a>
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="Hoàn thành">
			<li class="list-group-item @hoanthanh">Hoàn thành</li>
			</a>
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="Hủy đơn">
			<li class="list-group-item @huydon">Hủy</li>
			</a>
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="all">
			<li class="list-group-item @all">Tất cả</li>
			</a>
		</ul>
	</div>
	<div class="card-body p-4">
		<table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Email</th>
					<th>Tên</th>
					<th>SĐT</th>
					<th>Trạng thái</th>
					<th>Tổng</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>

@section Scripts{
	<script src="~/js/order.js"></script>
}